body {
  background: linear-gradient(
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.3)
    ),
    url("./assets/bg-restaurant.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
